{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 column-flex bg-dark align-items-center text-light" id="user-info">
                {% if user.is_authenticated %}
                    <div class="justify-content-center align-items-center">
                        Username: <strong id="logged_username">{{user.username}}</strong>
                    </div>
                    <div>
                        User e-mail: {{user.email}}
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-9" id="network-content">
                <div class="col-sm-12 d-flex align-items-center flex-column">
                    <h1 id="index_title">Posts</h1>
                    {% if user.is_authenticated and not following_page %}
                        <div class="new-post-placement col-sm-11 column-flex align-items-center">
                            <form class="col-sm-12 column-flex align-items-center justify-content-center" method="post" action="{% url 'add_new_post' %}">
                                {% csrf_token %}
                                <textarea id="add-new-post-content" class="post-textareas col-sm-12 column-flex align-items-center" rows="3" name="new_post_content" placeholder="Write a new post here!"></textarea>
                                <div class="d-flex justify-content-center">
                                    <input id="add-new-post-button" class="disabled-post-buttons col-sm-2 align-items-center" type="submit" value="Add" disabled>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                    <div class="posts-placement col-sm-11 column-flex align-items-center"></div>
                    <div class="pagination-placement align-items-center">
                        <ul class="pagination"></ul>
                    </div> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}


